.listitems {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-style: inset;
  padding: 10px;
  width: 400px;
}
.name {
  font-family: roboto;
  color: #bb3a3a;
}
.desc {
  font-family: roboto;
  color: #bb3a3a;
}
.date {
  font-family: roboto;
  color: #bb3a3a;
}
